/* Reset CSS */

/* Remover margens e preenchimentos padrão */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Definir a fonte padrão e tamanho do texto */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Remover estilos de lista */
ul,
ol {
  list-style: none;
}

/* Remover decoração de links */
a {
  text-decoration: none;
}

/* Definir a cor do texto padrão */
body {
  color: #333;
}

/* Definir a largura máxima para elementos de imagem */
img {
  max-width: 100%;
  height: auto;
}

/* Adicione mais regras de reset CSS aqui, se necessário */

/* Removendo bordas de botões */
button {
  border: none;
}

/* Removendo margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}